*{
    font-family: 'Philosopher', sans-serif;
   }
   body{
    background-image: radial-gradient(#104069,#000000);
}

.navbar {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: hsl(210, 100%, 78%);
    color: #031e36;
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.brand-title {
    font-family: 'Roboto', sans-serif !important;
    font-size: 30px;
    font-weight: bold;
    font-style: italic;
    margin: .5rem;
}

.navbar-links {
    height: 100%;
}

.navbar-links ul {
    float: right;
    display: flex;
    font-size: 1.2rem;
    margin: 0 30px;
    padding: 0;
}

.navbar-links li {
    list-style: none;
    padding: 0;
}

.navbar-links li a {
    font-size: medium;
    display: block;
    text-decoration: none;
    color:#000000;
    padding: 1.5rem;
}

.navbar-links li:hover {
    background-color:white;
    border-radius: 30px;
    border-style: solid;
    border-color:#031e36 ;
    border-width: 3px;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

   .start{
     font-style: oblique;
     color: #8DC6FF;
     font-size: 20px;
     height: 90vh;
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     padding: 0em 3em;
     
   }
   .start p{
    padding-left: 20px;
    padding-right: 5px;
   }
   .start h1 {
    margin: 0;
    padding: 0 !important;
    text-align: center;
    width: 100%;
    color: white;
    margin-bottom: 1em;
}
   .start .quote{
    padding-left: 4%;
    font-size: 30px;
    font-style: italic;
   }
   .end{
    background-color: #8DC6FF;
    height: 0.5vh;
   }
main{
  padding-top: 6%;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
 }
 main h1 {
    margin: 0;
    padding: 0 !important;
    text-align: center;
    width: 100%;
    color: white;
    margin-bottom: 1em;
    font-size: 50px;
}

 .box .floating-image
{
 max-width: 400px;
justify-content: center;
}

.box{
 font-style: oblique;
 justify-content: center;
 color: white;
 align-content: center;
 max-height: fit-content;
 padding-left: 50px;
 padding-right: 50px;
 margin-right: 0%;
}
footer{
    text-align: center;
    /* background-color: #8DC6FF; */
    color: #031e36;
    padding: 40px;
    background-image: linear-gradient(to right, #8dc6ff4f,#8dc6ff,#8dc6ff4f);
}
footer > p >a{
    text-decoration: none;
    font-weight: bold;
    color: #031e36;
}

@media (max-width: 574px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .toggle-button {
        margin-top: 20px;
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links ul li {
        text-align: center;
    }

    .navbar-links ul li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}


@media (max-width: 320px){
    .navbar{
        width: 80%;
    }
}

@media (max-width: 375px){
    .navbar{
        width: 143%;
    }
}

@media (max-width: 526px){
    .start {
        display:none;
    }

    .navbar{
        width: 102%;
    }

    footer{
        width: 105%;
    }
}


@media (max-width: 556px){
    .start h1{
        font-size: 45px;
    }
}

@media (max-width:824px){
    .end{
        display: none;
    }

    .start p{
        font-size: 15px;
    }

    main h1{
        width: 90%;
        padding-left: 15%;
    }
}

@media (max-width: 820px) /*iPad*/ {


    .start {
        height: 50vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 0;
    }

    main {
        margin: 1em 0em;
    }

    #music {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
    }
}
