*{
  font-family: 'Philosopher', sans-serif;
}
body {
  text-align: center;
  background-color: #8DC6FF;
}

#level-title {
  
  font-size: 3rem;
  margin-top:  5% ;
  color: #22313f;
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
footer{
  color: #22313f;
}
