body {
    background: radial-gradient(circle, rgba(107,172,221,1) 0%, rgba(7,57,107,1) 100%);
    margin: 0%;
  }
  
  .selections {
    display: flex;
    justify-content: center;
  }
  
  .selection {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 4rem;
    transition: 100ms;
  }
  
  .selection:hover {
    transform: scale(1.2);
  }
  
  .results {
    margin-top: .1rem;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
  }
  
  .score {
    margin-left: .1rem;
    font-size: 2em;
    color: rgb(0, 0, 0);
    font-weight: 500;
  }
  p{
    margin-left: .1rem;
    font-size: 2em;
    color: rgb(0, 0, 0);
    font-weight: 500;
  }
  
  .result-selection {
    opacity: .5;
  }
  
  .result-selection.winner {
    opacity: 1;
    font-size: 1.5rem;
  }
  h1{
    margin-left: 30%;
    font-size: 72px;
  }